@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

.h2 {
	color: white;
	margin-left: 10px;
	text-align: left;
	font-family: 'Amiri', serif;
}

.div1 {
    background-color: #DAA4CD;
    width: 845px;
    height: 354px;
}
.h4 {
	margin-left: 10px;
	color: black;
	text-align: left;
	font-family: 'Amiri', serif;
}

.par {
	margin-left: 10px;
	color: white;
	text-align: left;
	font-family: 'Amiri', serif;
}

.img1 {
	float: left;
	margin-right: 10px;
}

div.par {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle }

div.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle }

.container {
	color: blue
}
